.form1{
    margin-bottom:2rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-flow:row wrap;
    & div{
        width:calc(100% - 7.5rem);
        flex-flow:row wrap;
        display:flex;
        justify-content:flex-start;
        align-items:flex-start;
        gap:1rem;
        &.tres{
            & select{
                width:calc(33.3333% - 1rem);
            }
        }
    }
    & button{
        min-width:7.5rem;
    }
}
select{
    min-height:2.25rem;
    padding-inline:.75rem;
    border:1px solid var(--cmf-clr-neutro-4);
    border-radius:.25rem;
    &:focus, &:focus-visible{
        border-color:var(--cmf-color-2);
        box-shadow:0 0 3px 0 var(--cmf-color-2);
        outline:none;
    } 
}
option{
    background:var(--cmf-clr-neutro-4);
    color:inherit;
}