main{
    width:100%;
    max-height:calc(100svh - var(--height-header));
    display:grid;
    grid-template-columns:var(--width-nav) 1fr;
    border:none;
    & .content{
        max-height:100%;
        padding-inline:1rem;
        overflow-y:auto;
        & section{
            width:100%;
        }
    }
}

.breadcrumbs{
    margin-bottom:2rem;
    padding:.75rem 0;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:.5rem;
    font-weight:400;
    & .breadcrumbs__button{
        margin-right:.5rem;
        display:block;
        position:relative;
        color:var(--cmf-color-1);
        font-weight:500;
        cursor:pointer;
        &::before{
            content:'/';
            width:auto;
            height:100%;
            position:absolute;
            left:calc(100% + .4rem);
            color:#CED4DA;
        }
    }
    & .breadcrumbs__item{
        color:var(--cmf-clr-neutro-3);
    }
}
.title{
    padding-bottom:1rem;
    color:var(--cmf-clr-neutro-1);
    font-weight:600;
    & h1{
        font-size:2rem;
    }
    & h2{
        font-size:1.74rem;
    }
}
.resultados{
    width:100%;
    margin-bottom:2rem;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 19%));
    gap:1rem;
}
.card_resultados{
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    background:var(--cmf-clr-neutro-2);
    color:var(--cmf-clr-neutro-1);
    border:1px solid var(--cmf-clr-neutro-4);
    border-radius:.75rem;
    cursor:pointer;
    overflow:hidden;
    & .card_resultados__res{
        flex: 0 0 auto;
        padding:.625rem;
        border-right:1px solid var(--cmf-clr-neutro-4);
        & .card_resultados__number{
            width:4.375rem;
            aspect-ratio:1/1;
            display:flex;
            justify-content:center;
            align-items:center;
            border-radius:.75rem;
            & p{
                font-size:1.74rem;
                font-weight:600;
            }
        }
    }
    &.activ{
        background:var(--bg-primary);
        color:var(--cmf-clr-neutro-2);
        border-color:transparent;
        & .card_resultados__res{
            border-color:transparent;
        }
    }
    &.frecuencia{
        & .card_resultados__res{
            flex: 0 0 auto;
            padding:.625rem;
            background:var(--cmf-color-4);
             & .card_resultados__number{
                background:inherit;
                color:var(--cmf-clr-neutro-1);
             }
        }
        &.activ{
            background:transparent;
            & .card_resultados__title{
                background:var(--bg-primary);
                color:var(--cmf-clr-neutro-2);
            }
        }
    }
    & .card_resultados__title{
        height:100%;
        flex: 1 1 auto;
        padding:.625rem 1.25rem;
        display:flex;
        justify-content:flex-start;
        align-items:center;
        & p{
            font-size:.875rem;
        }
    }
}
.card_sistema{
    border:1px solid var(--cmf-clr-neutro-4);
    border-radius:.75rem;
    & .card__title{
        padding:1rem 1.5rem;
        background:var(--cmf-clr-neutro-7);
        color:var(--cmf-clr-neutro-1);
        border-bottom:1px solid var(--cmf-clr-neutro-4);
        font-size:.875rem;
        border-radius:.75rem .75rem 0 0;
    }
    & .card__value{
        padding:1.5rem;
        color:var(--cmf-clr-neutro-3);
        text-align:center;
        border-radius:0 0 .75rem .75rem;
        & h3{
            font-size:1.75rem;
            color: var(--cmf-clr-neutro-1);
        }
    }
    &.activ{
        color:var(--cmf-clr-neutro-2);
        & .card__value{
            background:var(--bg-primary);
            color:var(--cmf-clr-neutro-2);
            & h3{
                color:var(--cmf-clr-neutro-2);
            }
        }
    }
}
.card__archivos{
    border:1px solid var(--cmf-clr-neutro-4);
    border-radius:.75rem;
    & .card__title{
        padding:.5rem 1.25rem;
        background:var(--cmf-clr-neutro-2);
        color:var(--cmf-clr-neutro-1);
        border-bottom:1px solid var(--cmf-clr-neutro-4);
        font-size:.875rem;
        border-radius:.75rem .75rem 0 0;
    }
    & .card__value{
        padding:.5rem;
        color:var(--cmf-clr-neutro-3);
        text-align:center;
        border-radius:0 0 .75rem .75rem;
        & .card_archivos__number{
            width:100%;
            height:4.375rem;
            display:flex;
            justify-content:center;
            align-items:center;
            border-radius:.75rem;
            & p{
                font-size:1.74rem;
                font-weight:600;
            }
        }
    }
    &.activ{
        background:var(--bg-primary);
        border-color:transparent;
        & .card__title{
            background:transparent;
            color:var(--cmf-clr-neutro-2);
            border-bottom-color:transparent;
        }
    }
}